<%= simple_form_for @judge do |f|%>
	<%= f.input :name%>
	<%= f.association :contestants %>
	number of judge scores: <%= @judge.scores.length %><br />
	judge.id: <%= @judge.id %><br />
	judge.place where... <%= @judge.scores.select(:place).where(:contestant_id => 1 )%>
	<br />
	<%= f.simple_fields_for :contestants do |builder| %>
		<p>
			<%= builder.input :name %>

		</p>
	<% end %>
	<%= f.simple_fields_for :scores do |builder| %>
		<p>
			<%= builder.input :place %> 
		</p>
	<% end %>
	<br />
  <div class="field">
  	<% Contestant.all.each do |list| %>
  		<%= check_box_tag "judge[contestant_ids][]", list.id, @judge.contestant_ids.include?(list.id) %>
  		<%= list.name %><br />
  	<% end %>
  </div>
  <br />
    <div class="field">
  	<% Contestant.all.each do |list| %>
  		<%= list.name %> 
  		<%= list.scores.where(:judge_id => @judge.id) %> <br />
  		<%= list.scores.all%> <br />
  	<% end %>
  </div>
    <div class="field">
  	<% Contestant.all.each do |list| %>
		<%= f.simple_fields_for :scores do |builder| %>
		<p>
			<%= builder.input :place %> 
			<%= list.name %>
		</p>
		<% end %>
 	<% end %>
  </div>


	<%= f.button :submit %>
<% end %>




