<h1>Listing rounds</h1>

<table border="1">
  <tr>
    <th>Contest</th>
    <th>Round Cycle</th>
    <th>Judge</th>
    <th>Contestant</th>
    <th>Place</th>
  </tr>

<% @rounds.each do |round| %>
  <tr>
    <td><%= round.contest.name %></td>
    <td><%= round.cycle %></td>
    <td><%= round.judge.name %></td>
    <td><%= round.contestant.name %></td>
    <td><%= round.place %></td>
    <td><%= link_to 'Show', round %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Round', new_round_path %>
